.sliderItems{
    border: 1px solid red;
}

.sliderItems{
  border: 1px solid #363636;
  border-radius: 50%;
  padding: 4px;
  font-size: 18px;
  margin: 6px;
  text-align: center;
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.carousel-indicators{
  display: none !important;
}
.carousel-caption{
  width: 81%  !important;
  left: 9%  !important;
  right: 9%  !important;
}