.sliderItems{
    border: 1px solid red;
}

.sliderItems{
    border: 1px solid #363636;
    border-radius: 50%;
    padding: 5px;
    font-size: 18px;
    margin: 8px;
    text-align: center;
    display: inline-block;
}

.carousel-indicators{
  display: none !important;
}