<header>
    <div class="container-fluid">
      <div class="md-hue-2">
        <div class="div-tools top-header">
          <img src="../assets/images/Logo.png" (click)="homePage()" />
    
    
          <div class="topHeader" (click)="goStudentsPage()">
            <div style="color:#3a7139;">Home  </div>
            <div style="margin-right: 10px;"> <span style="margin: 9px;">|</span>Student Requested Courses</div>
            <img src="../assets/images/ppimg.png" />
    
          </div>
        </div>
      </div>
    
      <div class="md-hue-2">
        <div class="div-tools">
          <img src="../assets/images/Vector Smart Object1.png" width="100%"/>
        </div>
      </div>
    </div>
      </header>