<div class="container">
    <h3> All Students </h3>
    <!-- Card deck -->
    <div class="card-deck row">
        <div class="search col-lg-12">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let student of students | filter:searchText">
            <!-- Card -->
            <div class="card">
                <!--Card image-->
                <div class="view overlay">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">1 Card title</h4>
                    <!--Text-->

                    <p class="card-text">
                        id: {{student.Id}}
                    </p>
                    <p class="card-text">
                        Name: {{student.Name}}

                    </p>
                    <p class="card-text">
                        Phone: {{student.Phone}}
                    </p>
                    <p class="card-text">
                        RegisterDate: {{student.RegisterDate}}
                    </p>
                    <p class="card-text">
                        Address: {{student.Address}}
                    </p>

                    <button (click)="goToProfilePage(student.Id)">goToProfilePage</button>
                </div>

            </div>
            <!-- Card -->
        </div>



    </div>
    <!-- Card deck -->

</div>