
    <div class="row">
        <div class="col-lg-3">
      
         
      
        </div>
      
        <div class="col-lg-6">
          <div class="allCoursesHeader">
      
            <h3 class="allCoursesTxt"> All Students</h3>
            <div class="search col-lg-4">
              <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
            </div>
          </div>
      
          <!-- Card deck -->
          <div class="card-deck row">
      
            <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let student of students | filter:searchText">
              <!-- Card -->
              <div class="card">
                <!--Card image-->
                <div class="view overlay">
                  <img class="card-img-top img-fluid">
                  <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--Card content-->
                <div class="card-body">
                  <!--Title-->
      
                  <h4 class="card-title">
                    id: {{student.Id}}</h4>
                  <h4 class="card-title">
                  
                    Name: {{student.Name}}
                </h4>
                  <h4 class="card-title">
                    RegisterDate: {{student.RegisterDate}}</h4>
                  <h4 class="card-title">
                    Phone: {{student.Phone}}</h4>
                  <h4 class="card-title">
                  
                    Address: {{student.Address}}
                </h4>

                <h4  class="card-title">
                    <button class="btn btn-primary" (click)="goToProfilePage(student.Id)">goToProfilePage</button>
                </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-lg-3">
          <app-carousel></app-carousel>
      
          <div class="card recentsUpdatesSection">
            <div class="view overlay">
              <div class="recentUpdates">Recent Updates</div>
            </div>
            <div class="card-body updateHolder">
              <div class="col-lg-2 pad0mg">
                <img src="../../../assets/images/Ellipse 3.png" />
              </div>
              <div class="col-lg-10 pad0mg">
                <h4 class="card-title recentUpdateText">
                  Karim Mostafa Post in Learning Powerful mental course ...</h4>
                <h6 class="card-title">
                  3 min ago.</h6>
              </div>
            </div>
      
            <div class="card-body updateHolder">
              <div class="col-lg-2 pad0mg">
                <img src="../../../assets/images/Ellipse 3.png" />
              </div>
              <div class="col-lg-10 pad0mg">
                <h4 class="card-title recentUpdateText">
                  Karim Mostafa Post in Learning Powerful mental course ...</h4>
                <h6 class="card-title">
                  3 min ago.</h6>
              </div>
            </div>
      
            <div class="card-body updateHolder">
              <div class="col-lg-2 pad0mg">
                <img src="../../../assets/images/Ellipse 3.png" />
              </div>
              <div class="col-lg-10 pad0mg">
                <h4 class="card-title recentUpdateText">
                  Karim Mostafa Post in Learning Powerful mental course ...</h4>
                <h6 class="card-title">
                  3 min ago.</h6>
              </div>
            </div>
          </div>
      
        </div>
      </div>