<div class="md-padding" layout="column" layout-fill>
  <header>
    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools top-header">
        <img src="../assets/images/Logo.png" />


        <div style="    display: flex;
        align-items: center;">
          <div>Home  </div>
          <div>|  Student Requested Courses</div>
          <img src="../assets/images/ppimg.png" />

        </div>
      </div>
    </md-toolbar>

    <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <img src="../assets/images/Vector Smart Object1.png" />
      </div>
    </md-toolbar>
  </header>
  <md-content class="md-padding demo-section" layout="row" flex>
    <div flex>
      <courses></courses>
    </div>
  </md-content>
  <footer layout="row" class="md-padding">
    <div>
      <p>I am Sticky!</p>
    </div>
  </footer>
</div>