<div class="md-padding" layout="column" layout-fill>
  <header>
    <div class="md-hue-2">
      <div class="div-tools top-header">
        <img src="../assets/images/Logo.png" />


        <div style="    display: flex;
        align-items: center;">
          <div>Home  </div>
          <div>|  Student Requested Courses</div>
          <img src="../assets/images/ppimg.png" />

        </div>
      </div>
    </div>

    <div class="md-hue-2">
      <div class="div-tools">
        <img src="../assets/images/Vector Smart Object1.png" />
      </div>
    </div>
  </header>
  <div class="md-padding demo-section" layout="row" flex>
    <div flex>
      <div class="container-fluid">
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer layout="row" class="md-padding">
    <div>
      <p>I am Sticky!</p>
    </div>
  </footer>
</div>