<div class="row">
  <div class="col-lg-3">

    <div class="card recentsUpdatesSection">
      <div class="view overlay">
        <div class="recentUpdates">Filter BY:</div>
      </div>
      <div class="card-body ">
        <div class="col-lg-12 courseDuration">
          Course Duration
        </div>
        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="lessTwo"
            (change)="getCoursesDurLessThanTwo($event.target.checked)" />
          <label class="lbl_Checkbox" for="lessTwo">
            Less than 2 hours
          </label>
        </div>

        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="fromTwo" (change)="getCoursesFromTwo($event.target.checked)" />
          <label class="lbl_Checkbox" for="fromTwo">
            From 2 to 10 hours
          </label>
        </div>
        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="moreTwo"
            (change)="getCoursesDurMoreThanTwo($event.target.checked)" />
          <label class="lbl_Checkbox" for="moreTwo">
            more than 10 hours
          </label>
        </div>
      </div>

      <div class="card-body ">
        <div class="col-lg-12 courseDuration">
          All Categories
        </div>
        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="dev" (change)="filterCourses($event.target.checked,dev)" />
          <label class="lbl_Checkbox" for="dev">
            Development
          </label>
        </div>

        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="fin" (change)="filterCourses($event.target.checked,fin)" />
          <label class="lbl_Checkbox" for="fin">
            Finance & Accounting
          </label>
        </div>
        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="it" (change)="filterCourses($event.target.checked,soft)" />
          <label class="lbl_Checkbox" for="it">
            IT & Software
          </label>
        </div>

        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="other" (change)="filterCourses($event.target.checked,Other)" />
          <label class="lbl_Checkbox" for="other">
            Other
          </label>
        </div>

      </div>


      <div class="card-body ">
        <div class="col-lg-12 courseDuration">
          The difficulty level of the course
        </div>
        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="Beginner"
            (change)="filterCoursesLVL($event.target.checked,Beginner)" />
          <label class="lbl_Checkbox" for="Beginner">
            Beginner
          </label>
        </div>

        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="Intermediate"
            (change)="filterCoursesLVL($event.target.checked,Intermediate)" />
          <label class="lbl_Checkbox" for="Intermediate">
            Intermediate
          </label>
        </div>
        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="Expert"
            (change)="filterCoursesLVL($event.target.checked,Expert)" />
          <label class="lbl_Checkbox" for="Expert">
            Expert
          </label>
        </div>

        <div class="col-lg-12 pad0mg">
          <input type="checkbox" class="switchIco" id="All Levels "
            (change)="filterCoursesLVL($event.target.checked,AllLevels )" />
          <label class="lbl_Checkbox" for="All Levels ">
            All Levels
          </label>
        </div>

      </div>




    </div>


  </div>

  <div class="col-lg-6">
    <div class="allCoursesHeader">

      <h3 class="allCoursesTxt"> All Courses</h3>
      <div class="search col-lg-4">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off">
      </div>
      <div class="col-lg-3"><button class="btn btn-primary">
          <a [routerLink]="['course-add']"> Add New Course</a>
        </button></div>
    </div>

    <!-- Card deck -->
    <div class="card-deck row">

      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let course of courses | filter:searchText">
        <!-- Card -->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top img-fluid" [src]="course.CourseImg" alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->

            <h4 class="card-title">
              Name: {{course.CourseName}}</h4>
            <h4 class="card-title">
              Price: {{course.CoursePrice}}</h4>
            <h4 class="card-title" [ngClass]="course.AvailableSeats < 20  ? 'warningMinSeats' : ''">
              Available Seats: {{course.AvailableSeats}}</h4>
            <h4 class="card-title">
              Course Duration: {{course.CourseDuration}}</h4>
            <h4 class="card-title">
              Course Category: {{course.CourseCategory}}</h4>
            <h4 class="card-title">
              Course Level: {{course.courseLevel}}</h4>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <app-carousel></app-carousel>

    <div class="card recentsUpdatesSection">
      <div class="view overlay">
        <div class="recentUpdates">Recent Updates</div>
      </div>
      <div class="card-body updateHolder">
        <div class="col-lg-2 pad0mg">
          <img src="../../../assets/images/Ellipse 3.png" />
        </div>
        <div class="col-lg-10 pad0mg">
          <h4 class="card-title recentUpdateText">
            Karim Mostafa Post in Learning Powerful mental course ...</h4>
          <h6 class="card-title">
            3 min ago.</h6>
        </div>
      </div>

      <div class="card-body updateHolder">
        <div class="col-lg-2 pad0mg">
          <img src="../../../assets/images/Ellipse 3.png" />
        </div>
        <div class="col-lg-10 pad0mg">
          <h4 class="card-title recentUpdateText">
            Karim Mostafa Post in Learning Powerful mental course ...</h4>
          <h6 class="card-title">
            3 min ago.</h6>
        </div>
      </div>

      <div class="card-body updateHolder">
        <div class="col-lg-2 pad0mg">
          <img src="../../../assets/images/Ellipse 3.png" />
        </div>
        <div class="col-lg-10 pad0mg">
          <h4 class="card-title recentUpdateText">
            Karim Mostafa Post in Learning Powerful mental course ...</h4>
          <h6 class="card-title">
            3 min ago.</h6>
        </div>
      </div>
    </div>

  </div>
</div>