/* You can add global styles to this file, and also import other style files */
body{
    background-color: #121212 !important;
    color: white !important;
}

.top-header{
    height: 80px;
    display: flex;
    align-items: center;
}

p{
    color: black;
}

.card-deck .card{
    min-height: 390px;
    margin-bottom: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
