/* You can add global styles to this file, and also import other style files */
body{
    background-color: #121212 !important;
    color: white !important;
}

.top-header{
    height: 80px;
    display: flex;
    align-items: center;
}



.card-deck .card{
    min-height: 390px;
    margin-bottom: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:focus {
    outline: none !important;
}

ol.carousel-indicators {
    display: none !important;
}

.card{
    margin: 5% 0%;
    background: #181818 !important;
    color: #c0c0c0 !important;
    border-radius: 1.25rem !important;
  }
  
  .card-body{
    margin: 0% 0% 0% 3%;
    padding: 6% 0% !important;
  }
  h4.card-title.warningMinSeats {
    color: #ff5b5b;
}

.recentUpdates{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.recentUpdateText{
  font-size: 14px !important;
  width: 190px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recentsUpdatesSection{
  padding: 35px;
  border-radius: 20px;
  padding-top: 20px;

}

.updateHolder{
  display: flex;
  margin-bottom: 20px;
  border-bottom: 2px solid #4d4a49;
  padding-bottom: 20px;
}

.pad0mg{
  margin: 0px !important;
  padding: 0px !important;
}

.allCoursesTxt{
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 10px solid #54b053;
}

.allCoursesHeader{
  display: flex;
  align-items: center;
}

.lbl_Checkbox{
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.courseDuration{
  padding: 0px;
  font-size: 20px;
  margin-bottom: 15px;
}

.card-title {
  font-size: 18px;
}
.col-lg-12.courseDuration {
    padding: 0px;
}

a {
    color: #bfbeba !important;
}

p,img,a,div{
    cursor: pointer !important;
}

.card-deck .card{
  margin: 0px !important;
}

.card-bodyC{
  line-height: 2;
  margin-bottom: 20px;
  border-bottom: 2px solid #4d4a49;
  padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .top-header {
    height: 130px;
    display: grid;
    align-items: center;
}

.labelS {
  width: 100% !important;
  background-color: #4d4a49;
  border-radius: 0px 22px 23px 0px;
  border-left: 0px !important;
  text-align: right;
  height: 45px;
  padding: 0px 30px 0px 0px;
  font-size: 30px;
}

.smallLbl {
  font-size: 12px !important;
  padding: 8px 30px 0px 9px !important;
}
h3.allCoursesTxt {
  font-size: 24px;
  margin: 9px;
}
}

.search.col-lg-4 {
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
}